.header{
    grid-area: h;
    border-radius: 3px;
    padding: 10px;
    border: 4px rgb(0, 0, 0) solid;
    }
    .header img {
        width: 150px;
        height: 130px;
    }
    .image {
        width: 1572px;
        height: 122px;
        background: url('http://4.bp.blogspot.com/-zPIetIdlxhM/WKbfEpWJJkI/AAAAAAAATXo/mThItnppPMAy95wK9aspY1gWpju-vQQXwCK4B/s1600/Google_Analytics_Solutions_Lockup_color.png')  no-repeat;
        background-color: rgb(229, 241, 207);
    }
