.header{
    grid-area: h;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    border: 5px chartreuse solid;
    }

    
    .header img {
        width: 150px;
        height: 130px;
    }