.nav {
  grid-area: n;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: 800px;
  border: 6px rgb(21, 180, 0) solid;
  text-align: center;
  background-color: rgb(255, 255, 255);

}

.item a {
color:rgba(0, 0, 3, 0.527);
text-decoration: none;
font-size: 40px;
line-height: 50px;
text-transform:uppercase;
font-family:FreeMono, monospace;
font-weight: 900;
}

.item a:active {
  text-shadow: 1px 1px 2px rgb(67, 199, 6), 0 0 .1em rgb(0, 0, 0);
  color:rgba(220, 255, 23, 0.678);
} 
.item a:hover {
  text-shadow: 1px 1px 2px rgb(67, 199, 6), 0 0 .1em rgb(0, 0, 0);
  color:rgba(220, 255, 23, 0.678);  
}







.animation1 {
  animation: animation1 3s alternate linear infinite;
}

.animation2 {
  animation: animation2 3s alternate linear infinite;
}

@keyframes animation1 {
  0% {
    transform:translateX(0);
  }
  50% {
    transform:translateX(-3px);
  }
  100% {
    transform:translateX(0px);
  }}

  @keyframes animation2 {
    0% {
      transform:translateX(0px);
    }
    50% {
      transform:translateX(3px);
    }
    100% {
      transform:translateX(0px);
    }}
  
