.nav {
  grid-area: n;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 800px;
  border: 5px chartreuse solid;
}

.item a {
color: rgb(7, 5, 139);
text-decoration: none;
}

.item a.active {
  color:rgb(255, 0, 0);
  }