
.descriptionBblock {
  padding: 20px;
}

.Avatar {
  width: auto;
  height: auto;
}

.topImg {
  border-radius: 15px;
}


.mainPhoto {
  border: 5px  rgb(21, 180, 0)   solid;
  border-radius: 100px;
  max-width: 200px;
}

.contact {
  padding-left: 10px;
}