.app-wrapper {
    display: grid;
    width: 1600px;
    margin: 0 auto;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
        grid-area: c;
        border-radius: 4px;
        border: 4px rgb(0, 0, 0) solid;
        
        
}