.app-wrapper {
    display: grid;
    width: 1600px;
    margin: 0 auto;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
        grid-area: c;
        background-color: rgba(40, 226, 15, 0.575);
        border-radius: 10px;
        
}