.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    color: rgb(7, 5, 139);
}

.dialogsItems .active {
    color: white;
}

.messages {
    padding: 20px;
    color: rgb(7, 5, 139);
}

.message {
color:rgb(7, 5, 139);
}