.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a {
text-decoration: none;
font-family:monospace;
font-size: 40px;
line-height: 60px;
padding-top: 10px;
padding-left: 20px;

color: rgb(7, 5, 139);
}

.dialogsItems .active {
    color: white;
}

.dialogsItems:hover {
    color: seagreen;
}

.messages {
    padding: 20px;
    color: rgb(7, 5, 139);
}

.message {
color:rgb(7, 5, 139);
}